body {
	margin: 0px; padding:0px;
	text-align:center;
	background: url('../images/bkgd_orange.jpg');
}

#Container {
}

#Banner { 
	background-color: navy; 
	padding: .1em;  

}

#Banner h1{
	font-size: 50px;
	color: white; 
}
#buttons { 
	padding-top: 1em; 

}

