body {
	margin: 0px; padding:0px;
	text-align:center;
	background: url('../img/bkgd_orange.jpg');
}

#Container {
}

#Banner { 
	background-color: navy; 
	padding: .1em;  

}

#Banner h1{
	font-size: 50px;
	color: white; 
}
#buttons { 
	padding-top: 1em; 

}

#browser {
	height: 100%;
	width: 100%;
}

#browserControls {
	height: 70px;
	position: fixed;
	width: 100%;
	background: grey;
}

#browserControls .homeBtn {
	background: url('../img/Home.png');
	height: 64px;
	width: 64px;
	display: inline-block;
	float: left;
}

#browserControls .backBtn {
	background: url('../img/Back.png');
	height: 64px;
	width: 64px;
	display: inline-block;
	float: left;
}

#browserControls .reloadBtn {
	background: url('../img/Reload.png');
	height: 64px;
	width: 64px;
	display: inline-block;
	float: left;
}

#splashPage {
	padding-top: 70px;
}

#activityFrame {
	width: 100%;
	height: 100%;
}